@model IEnumerable<Projeto_TCC.Models.CadastroModel>

@foreach(var item in Model){
<div>
    <h4>@Html.Raw(item.nomeViagem)</h4>
        <p>Horário de Saída: @Html.Raw(item.Hora)</p>
        <p>Data de Saída: @Html.Raw(item.data.Substring(6,2))/@Html.Raw(item.data.Substring(4,2))/@Html.Raw(item.data.Substring(0,4))</p>
        <p>Imagem Destaque: <img src="@Html.Raw(item.Imagem)" class="img-fluid max-width-100" alt="Imagem da Viagem" /></p>
    <p>Valor: R$ @Html.Raw(item.valor.ToString("0.00"))</p>
        <input style="display: none;" class="hidden" id="Contato" value="@item.contato" />

</div>
}